.button{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* height: 100vh; */
    gap: 20px;
    border: 2px solid;
    padding: 20px;
    border-radius: 2px;
    font-size: bold;
    background-color: darksalmon;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
}
 #Aboutme, #Mycontact, #Myskills{
        
        padding: 10px;
        margin-left: 50px;
        border: 1px solid white;
    }